{{title title}}
<style>
  md-card-content{
    padding: 0 0 0 0 !important;
  }
  div.md-list-item-inner{
    padding-left:4px !important;
    padding-right:4px !important;
  }
  img.md-avatar.left{
    margin-right: 8px !important;
  }
  img.md-avatar.right{
    margin-left: 8px !important;
  }
</style>
{{#each model as |match|}}
  {{current-match match=match}}
{{else}}
    <h3 align="center">No Hay Partidos en Curso</h3>
{{/each}}
